<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }}</title>

<!-- Post info -->

  <meta property="og:site_name" content="{{ site.title }}">

    <meta property="fb:app_id"          content="1607605225977118" />
    <meta property="og:type"            content="article" />
    <meta property="og:url"             content="{{ site.url }}{{ page.url }}" />

    <meta property="og:image" content="{% if page.post-header == true or page.project-header == true %}{{ site.url }}{{ page.url }}{{ page.header-img }}{% else %}{{ site.url }}{{ '/img/share-img.jpg'}}{% endif %}">

    <meta name="twitter:card" content="summary_large_image">

    <!-- title -->
    <meta property="og:title" content="{% if page.url == '/' %}{{ page.subtitle}}{% else %}{{ page.title }}{% endif %}">

    <meta name="twitter:title" content="{% if page.url == '/' %}{{ page.subtitle}}{% else %}{{ page.title }}{% endif %}">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,400,600,700" rel="stylesheet">
  <link rel="shortcut icon" href="https://{{ site.baseurl }}/img/favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/assets/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/assets/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/assets/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/assets/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/assets/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/assets/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/assets/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- GA -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38030435-3"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-38030435-3');
    </script>
    <script data-ad-client="ca-pub-8284081281222544" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>
</head>
