<li class="catalogue-item">
    <a href="{{ page.url | prepend: site.baseurl }}" >
        <div class="catalogue-info transition">
            <h1 class="catalogue-title">
                <div class="prefix">
                    >
                </div>
                {{ page.title }}
            </h1>
            <div class= subContainer>
                <p class="catalogue-sub" >
                    {{ page.subtitle }}
                </p>
                <span class = "catalogue-date">
                    {{ page.date | date: "%d %b, %Y" }}
                </span>
            </div>
        </div>
    </a>
</li>
