<li class="project transition">
    {% for second in site.data.experience.second-project %}
    <p class="project-name">
        {{ second.name }}
    </p>
    <div class="work-info">
        <p>
            {{ second.role }}
        </p>
        <p class="work-sub-info">
            {{ second.date }}
        </p>
    </div>
    {% endfor %}
</li>

<li class="project transition">
    {% for first in site.data.experience.first-project %}
    <p class="project-name">
        {{ first.name }}
    </p>
    <div class="work-info">
        <p>
            {{ first.role }}
        </p>
        <p class="work-sub-info">
            {{ first.date }}
        </p>
    </div>
    {% endfor %}
</li>
