.catalogue {
  // background-color: $dark-3;
	position: relative;
	color: #444;
	cursor: pointer;
  @media (max-width: $break-medium) {
        width:100%;
        margin: 0 0 auto;
  }
  margin-top: 0px;
  padding-bottom:10px;
	z-index:1;
    &-item {
				border-bottom: 1px solid rgba($dark-0,0.2);
        // border-radius: 10px;
				// box-shadow: -6px -6px 20px rgba(#ffffff, 0.8), 5px 5px 11px rgba(#a6b4c8, 0.7);
        padding: 20px 0px;
        list-style: none;
        margin-bottom: 0px;
        @media (max-width: $break-medium) {
					margin-bottom: 0px;
				}
    &:first-child{
        margin-top: 0px;
    }

    &:last-child {
        margin-bottom: 0px;
//        border-bottom: 1px solid $grey-1;
    }
  }

    &-type {
      font-family: $san-serif;
      color: $green;
      display: inline-block;
      margin-bottom: 2px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      padding: 5px 6px;
      font-size: 11px;
      font-weight: 500;
      background-color: $grey-4;
      border-radius: 4px;
      margin-right: 2px;
			&-blog{
				font-family: $san-serif;
	      color: $yellow;
	      display: inline-block;
	      margin-bottom: 2px;
	      text-transform: uppercase;
	      letter-spacing: 0.03em;
	      padding: 5px 6px;
	      font-size: 11px;
	      font-weight: 500;
	      border-radius: 4px;
				background-color: $grey-4;
        margin-right: 2px;
			}
			&-project{
				font-family: $san-serif;
	      color: $skyblue;
	      display: inline-block;
	      margin-bottom: 2px;
	      text-transform: uppercase;
	      letter-spacing: 0.03em;
	      padding: 5px 6px;
	      font-size: 11px;
	      font-weight: 500;
	      border-radius: 4px;
				background-color: $grey-4;
        margin-right: 2px;
			}
    }

    &-tag {
        font-family: $san-serif;
        color: $red;
        display: inline-block;
        margin-bottom: 2px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        padding: 5px 6px;
        font-size: 11px;
        font-weight: 500;
        background-color: $grey-4;
        border-radius: 4px;
        margin-right: 2px;
    }

    &-info {
        display: inline-block;

        h1.catalogue-title {
            color: rgba($dark-0,0.7);
            display: block;
            font-family: $san-serif;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.5;
            position: relative;
						word-break:keep-all;
            @media (max-width: $break-medium) {
                  font-size: 22px;
            }
        }

        @media (max-width: $break-medium) {
            display: block;
            width: 100%;
        }

        p.catalogue-sub {
            font-size: 18px;
						font-weight: 400;
            color: $grey-1;
            line-height: 1.75;
						font-family: $san-serif;
            @media (max-width: $break-medium) {
                font-size: 18px;
            }
        }
        p.catalogue-body {
            font-size: 16px;
            color: $grey-1;
        }

    }

    .catalogue-draft-message {
        text-align: center;
    }

}
.catalogue-date{
  margin-top:0px;
  color: $grey-1;
  font-size: 15px;
  font-family: $san-serif;
  font-weight: 300;
}
.catalogue-item:hover
.catalogue-info {
    cursor: pointer;
    opacity: .6;
}

.catalogue-img {
    border-radius: 3px;
//    box-shadow: 6px 0 40px 8px rgba(0,0,0,.05);
}
