.catalogue {
  // background-color: $dark-3;
	position: relative;
	color: #444;
	cursor: pointer;
  @media (max-width: $break-medium) {
        width:100%;
        margin: 0 0 auto;
  }
  margin-top: 20px;
  padding-bottom:10px;
	z-index:1;
    &-item {

        border-radius: 20px;
				box-shadow: -6px -6px 20px rgba(#ffffff, 0.8), 5px 5px 12px rgba(#a6b4c8, 0.7);
        // border-top: 1px solid $grey-2;
        padding: 20px 20px;
        list-style: none;
        margin-bottom: 20px;
        background-color: $white;
        // margin-left: 2%;
        // margin-right: 2%;
        @media (max-width: $break-medium) {
					margin-bottom: 10px;
				}
    &:first-child{
        margin-top: 0px;
    }

    &:last-child {
        margin-bottom: 0px;
//        border-bottom: 1px solid $grey-2;
    }
  }

    &-type {
      font-family: $san-serif;
      color: $white;
      display: inline-block;
      margin-bottom: 2px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      padding: 4px 4px;
      font-size: 10px;
      font-weight: 600;
      margin-bottom: 10px;
      background-color: $green;
      border-radius: 3px;

      @media (max-width: $break-medium) {
          margin: 10px 0;
      }
			&-blog{
				font-family: $san-serif;
	      color: $white;
	      display: inline-block;
	      margin-bottom: 2px;
	      text-transform: uppercase;
	      letter-spacing: 0.03em;
	      padding: 4px 4px;
	      font-size: 10px;
	      font-weight: 600;
	      margin-bottom: 10px;
	      border-radius: 3px;
				background-color: $yellow;

			}
			&-project{
				font-family: $san-serif;
	      color: $white;
	      display: inline-block;
	      margin-bottom: 2px;
	      text-transform: uppercase;
	      letter-spacing: 0.03em;
	      padding: 4px 4px;
	      font-size: 10px;
	      font-weight: 600;
	      margin-bottom: 10px;
	      border-radius: 3px;
				background-color: $skyblue;

			}
    }

    &-tag {
        font-family: $san-serif;
        color: $white;
        display: inline-block;
        margin-bottom: 2px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        padding: 4px 4px;
        font-size: 10px;
        font-weight: 600;
        margin-bottom: 10px;
        background-color: $red;
        border-radius: 3px;

        @media (max-width: $break-medium) {
            margin: 10px 0;
        }

    }

    &-info {
        display: inline-block;

        h1.catalogue-title {
            color: $grey-0;
            display: block;
            font-family: $san-serif;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: -0.009em;
            position: relative;
            margin-top: -30px;

            @media (max-width: $break-small) {
                  font-size: 22px;
            }
        }

        @media (max-width: $break-medium) {
            display: block;
            width: 100%;
        }

        p.catalogue-sub {
            font-size: 18px;
            color: $grey-1;
            line-height: 1.75;
            padding-bottom: 24px;

            @media (max-width: $break-small) {
                font-size: 16px;
            }
        }

        p.catalogue-body {
            font-size: 16px;
            color: $grey-1;
        }

    }

    .catalogue-draft-message {
        text-align: center;
    }

}
.catalogue-date{
  margin-top:0px;
  color: $grey-1;
  font-size: 15px;
  font-family: $san-serif;
  font-weight: 400;
}
.catalogue-item:hover
.catalogue-info {
    cursor: pointer;
    opacity: .6;
}

.catalogue-img {
    border-radius: 3px;
//    box-shadow: 6px 0 40px 8px rgba(0,0,0,.05);
}
