.catalogue {
    &-item {
        border-bottom: 1px solid rgba(0,0,0,.07);
        padding: 36px 0;
        list-style: none;

    &:last-child {
        margin-bottom: 72px;
        border: none;
//        border-bottom: 1px solid $grey-2;
    }
  }

    &-type {
      font-family: $source;
      color: $white;
      display: inline-block;
      margin-bottom: 2px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      padding: 4px 7px;
      font-size: 13px;
      font-weight: 700;
      margin-bottom: 10px;
      background-color: $skyblue;
      border-radius: 8px;

      @media (max-width: $break-medium) {
          margin: 10px 0;
      }
    }

    &-tag {
        font-family: $source;
        color: $grey-1;
        display: inline-block;
        margin-bottom: 2px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        padding: 4px 7px;
        font-size: 13px;
        font-weight: 700;
        margin-bottom: 10px;
        background-color: $yellow;
        border-radius: 8px;

        @media (max-width: $break-medium) {
            margin: 10px 0;
        }

    }

    &-info {
        display: inline-block;

        h1.catalogue-title {
            color: $grey-0;
            display: block;
            font-family: $san-serif;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: -0.009em;
            position: relative;

            @media (max-width: $break-small) {
                  font-size: 22px;
            }
        }

        @media (max-width: $break-medium) {
            display: block;
            width: 100%;
        }

        p.catalogue-sub {
            font-size: 18px;
            color: $grey-1;
            line-height: 1.75;
            padding-bottom: 24px;

            @media (max-width: $break-small) {
                font-size: 16px;
            }
        }

        p.catalogue-body {
            font-size: 16px;
            color: $grey-1;
        }
        p.catalogue-date{
          color: $grey-1;
          font-size: 16px;
          font-family: $source;
          font-weight: 400;
        }

    }

    .catalogue-draft-message {
        text-align: center;
    }

}

.catalogue-item:hover
.catalogue-info {
    cursor: pointer;
    opacity: .6;
}

.catalogue-img {
    border-radius: 3px;
//    box-shadow: 6px 0 40px 8px rgba(0,0,0,.05);
}
