.catalogue {
	position: relative;
  cursor: pointer;
  @media (max-width: $break-medium) {
        width:100%;
        margin: 0 0 auto;
  }
  margin-top: 0px;
  padding-bottom:10px;
    &-item {
        padding: 20px 20px;
        list-style: none;
        margin-bottom: 20px;
        @media (max-width: $break-medium) {
					margin-bottom: 0px;
				}
    &:first-child{
        margin-top: 0px;
    }

    &:last-child {
        margin-bottom: 0px;
//        border-bottom: 1px solid $grey-1;
    }
  }

    &-info {
        display: inline-block;

        h1.catalogue-title {
            color: rgba($dark-0,0.7);
            display: block;
            font-family: $san-serif;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.5;
            position: relative;
						word-break:keep-all;
            @media (max-width: $break-medium) {
                  font-size: 22px;
            }
        }

        @media (max-width: $break-medium) {
            display: block;
            width: 100%;
        }

        p.catalogue-sub {
            margin-left: 32px;
            font-size: 18px;
						font-weight: 400;
            color: $grey-1;
            line-height: 1.75;
						font-family: $san-serif;
            @media (max-width: $break-medium) {
                font-size: 18px;
            }
        }
        p.catalogue-body {
            font-size: 16px;
            color: $grey-1;
        }

    }

    .catalogue-draft-message {
        text-align: center;
    }

}
.catalogue-date{
  margin-left: 32px;
  margin-top:0px;
  font-size: 18px;
  font-weight: 400;
  color: $grey-1;
  line-height: 1.75;
  font-family: $san-serif;
}
.catalogue-item:hover
.catalogue-info {
    cursor: pointer;
    opacity: .6;
}

.catalogue-img {
    border-radius: 3px;
//    box-shadow: 6px 0 40px 8px rgba(0,0,0,.05);
}
