.catalogue {
  margin-top: 2%;
  background-color: $dark-0;
	position: relative;
	color: #444;
	cursor: pointer;

    &-item {
        border-top: 1px solid $grey-0;
        padding: 20px 0;
        list-style: none;

    &:first-child{
      margin-top: 0px;
    }

    &:last-child {
        margin-bottom: 0px;
//        border-bottom: 1px solid $grey-2;
    }
  }

    &-type {
      font-family: $san-serif;
      color: $white;
      display: inline-block;
      margin-bottom: 2px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      padding: 4px 4px;
      font-size: 10px;
      font-weight: 700;
      margin-bottom: 10px;
      background-color: $skyblue;
      border-radius: 3px;

      @media (max-width: $break-medium) {
          margin: 10px 0;
      }
    }

    &-tag {
        font-family: $san-serif;
        color: $white;
        display: inline-block;
        margin-bottom: 2px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        padding: 4px 4px;
        font-size: 10px;
        font-weight: 700;
        margin-bottom: 10px;
        background-color: $red;
        border-radius: 3px;

        @media (max-width: $break-medium) {
            margin: 10px 0;
        }

    }

    &-info {
        display: inline-block;

        h1.catalogue-title {
            color: $white;
            display: block;
            font-family: $san-serif;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: -0.009em;
            position: relative;
            margin-top: -30px;

            @media (max-width: $break-small) {
                  font-size: 22px;
            }
        }

        @media (max-width: $break-medium) {
            display: block;
            width: 100%;
        }

        p.catalogue-sub {
            font-size: 18px;
            color: $grey-1;
            line-height: 1.75;
            padding-bottom: 24px;

            @media (max-width: $break-small) {
                font-size: 16px;
            }
        }

        p.catalogue-body {
            font-size: 16px;
            color: $grey-1;
        }

    }

    .catalogue-draft-message {
        text-align: center;
    }

}
.catalogue-date{
  margin-top:0px;
  margin-left: 3px;
  color: $grey-1;
  font-size: 14px;
  font-family: $san-serif;
  font-weight: 400;
}
.catalogue-item:hover
.catalogue-info {
    cursor: pointer;
    opacity: .6;
}

.catalogue-img {
    border-radius: 3px;
//    box-shadow: 6px 0 40px 8px rgba(0,0,0,.05);
}
