.container {
  margin: 0px auto;
  max-width: 750px;
  width: 100%;
    @media (max-width: $break-small) {
        width: 88%;
        margin: 24px auto;
    }
}

main,
footer>.footer_wrap,
.nav-container {
  margin: 0 auto;
  max-width: 750px;
  width: 100%;
    @media (max-width: $break-small) {
        width: 88%;
    }
}

.nav {
    background-color: $red;
    overflow: auto;
    padding: 14px 0;


  &-container {
      margin: 0 auto;
      padding-bottom: 5px;
      position: relative;
  }
}

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }


.nav-container {
  li {
      font-family: $san-serif;
      display: inline-block;
      margin: 0 40px 0 0;

      &:last-child {
          margin-right: 0;
      }

      @media (max-width: $break-small) {
          margin: 0 24px 0 0;
          font-size: 16px;
      }

  }
    li:hover {
          opacity: 0.5;
    }
}

.active {
    padding-bottom: 6px;
    border-bottom: 2px solid $white;
    font-weight: 700;
    color: $white;
}

.normal {
    font-weight: 500;
    border-style: none;
    padding-bottom: 0;
    color: $white;
}

a {
     color: $white;
}

//footer

footer {
    font-family: $san-serif;
    padding: 0.5em 0px;
    background-color: $dark-0;
    color: $white;
    border-top: 1px solid $grey-0;
    border-bottom: 1px solid $grey-0;
    text-align: center;
    .footer_wrap {
        font-style: normal;
        box-sizing: border-box;
        display: block;
        .copyright {
            bottom: 2px;
            @media (max-width: $break-small) {
                margin-top: 0px;
            }
            span {
                font-size: 16px;
            }
        }
    }
}



.main-container{
  max-width: 1100px;
  margin: 40px auto;
  padding: 0px 1.5em;
  box-sizing: border-box;
  display: block;
}
.wrapper{
  // margin-top: 2em;
  display: flex;
  min-height: 88vh;
  align-items: flex-start;
  margin: 0 0 10px 0;
  @media (max-width: $break-small) {
      width: 100%;
      display:block;
  }
  .contents{
    width: calc((100% - 290px) - 40px);
    box-sizing: border-box;
    margin-right: 40px;
    display: block;
    @media (max-width: $break-small) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5%;
    }
    .contents-header{
      background-color: $white;
    }
  }
  @supports (position: sticky) or (position: -webkit-sticky) {
  .floating{
    position: -webkit-sticky;
    position: sticky;
    width: 290px;
    font-size: 15.5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
    padding: 1.5em;
    background: rgb(49, 55, 70);
    border-radius: 8px;
    display: block;
    box-sizing: border-box;
    text-align:center;
    margin: 0px 0px;
    top: 2em;
    @media (max-width: $break-small) {
      width: 100%;
      clear:both;
    }
    .information {
        display: inline-block;
        .accounts {
            margin-top: 36px;
            a {
                margin: 10px;
                svg {
                    fill: $white;
                    width: 20px;
                }
            }
            a:hover {
                opacity: .6;
            }
        }

    }
  }
  }
}
main {
  width: 100%;
}
