.container {
  margin: 40px auto;
  max-width: 750px;
  width: 80%;
    @media (max-width: $break-small) {
        width: 88%;
        margin: 24px auto;
    }
}

main,
footer>.footer_wrap,
.nav-container {
  margin: 0 auto;
  max-width: 750px;
  width: 80%;
    @media (max-width: $break-small) {
        width: 88%;
    }
}

.nav {
    background-color: $red;
    overflow: auto;
    padding: 14px 0;


  &-container {
      margin: 0 auto;
      padding-bottom: 10px;
      position: relative;
  }
}

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }


.nav-container {
  li {
      font-family: $san-serif;
      display: inline-block;
      margin: 0 40px 0 0;

      &:last-child {
          margin-right: 0;
      }

      @media (max-width: $break-small) {
          margin: 0 24px 0 0;
          font-size: 16px;
      }

  }
    li:hover {
          opacity: 0.5;
    }
}

.active {
    padding-bottom: 6px;
    border-bottom: 2px solid $white;
    font-weight: 700;
    color: $white;
}

.normal {
    font-weight: 500;
    border-style: none;
    padding-bottom: 0;
    color: $white;
}

a {
     color: $white;
}

//footer

footer {
    font-family: $san-serif;
    padding: 0px 0 30px 0;
    background-color: $dark-2;
    color: $white;
    border-top: 1px solid $dark-2;
    border-bottom: 1px solid $dark-2;


    .footer_wrap {
        font-style: normal;
        position: relative;

        .information {
            display: inline-block;
            .accounts {
                margin-top: 36px;
                a {
                    margin-right: 24px;
                    svg {
                        fill: $white;
                        width: 20px;
                    }
                }
                a:hover {
                    opacity: .6;
                }
            }
        }
        .copyright {
            float: right;
            position: absolute;
            right: 0;
            bottom: 2px;

            @media (max-width: $break-small) {
                float: none;
                position: static;
                margin-top: 6px;
            }
            span {
                font-size: 16px;
            }
        }
    }
}
