.container {
  margin: 0px auto;
  max-width: 750px;
  width: 100%;
    @media (max-width: $break-small) {
        width: 88%;
        margin: 24px auto;
    }
}

main,
footer>.footer_wrap {
  margin: 0 auto;
  max-width: 750px;
  width: 100%;
    @media (max-width: $break-small) {
        width: 88%;
    }
}

.nav {
    max-width: 100%;
    overflow: auto;
    padding: 10px;
    margin-top: 0px;
    font-size: 20px;
    background-color: rgba($dark-0,0.7);
    border-bottom: 1px solid rgba($dark-0,0.2);
    @media (max-width: $break-small) {
        margin-bottom: -10px;
    }
  .nav-container {
      max-width: 1100px;
      box-sizing: border-box;
      margin:0 auto;
      padding: 0 1em;
      @media (max-width: $break-small) {
          padding: 0 0px;
      }
      .blog-name{
        font-family: $source;
        float:left;
        margin-top: 5px;
        margin-bottom: 5px;
        code{
          background-color:$white;
          color: rgba($dark-0,0.7);
          font-size: 28px;
          font-weight: 100;
          .badge {
             display: inline-block;
             position: relative;
             margin-bottom:-5px;
             padding: 12px 4px;
             background-color: rgba($grey-1,0.3);
             font-weight: 700;
             animation: blink-animation 1s steps(5, start) infinite alternate;
             -webkit-animation: blink-animation 1s steps(5, start) infinite alternate;
          }
          @keyframes blink-animation {
             from {
                 visibility: visibility;
             }
             to {
                 visibility: hidden;
             }
          }
          @-webkit-keyframes blink-animation {
             from {
                 visibility: visibility;
             }
             to {
                 visibility: hidden;
             }
          }

          @media (max-width: $break-medium) {
              font-size: 24px;
          }
        }


      }
      .blog-name:hover{
        opacity: 0.8;
      }
    }
    .category{
      margin-top: 10px;
      float: right;
      display:flex;
      justify-content: flex-start;
      @media (max-width: $break-medium) {
        margin-top: 20px;
      }
      .category-items{
        text-shadow: 1px 0 0.2px rgba(0,0,0,0.3);
        margin-right: 40px;
        margin-left: 0px;
        font-family: $source;
        display: inline-block;
        color: $dark-0;
        a:hover {
             opacity: 0.6;
        }
        @media (max-width: $break-medium) {
          margin-top: 8px;
        }
        }
      }
    .active{
      color:white;
      font-weight: 500;
    }
    .normal{
      color:white;
      font-weight: 300;
    }
}


  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

.active {
    // border-bottom: 2px solid $grey-0;
    font-weight: 900;
    color: #000;

    @media (max-width: $break-medium) {
      font-weight: 700;
    }
}

.normal {
    font-weight: 300;
    border-style: none;
    color: #000;
    @media (max-width: $break-medium) {
      font-weight: 300;
    }
}

a {
    font-weight: 300;
    color: $dark-0;
}

//footer

footer {
    font-family: $san-serif;
    padding: 0.5em 0.5em;
    color: $grey-1;
    border-top: 1px solid $grey-3;
    text-align: center;
    font-weight: 100;
    .footer_wrap {
        font-style: normal;
        box-sizing: border-box;
        display: block;
        .copyright {
            bottom: 2px;
            @media (max-width: $break-small) {
                margin-top: 0px;
            }
            span {
                font-size: 15px;
            }
        }
    }
}



.main-container{
  max-width: 1100px;
  margin: 40px auto;
  padding: 0px;
  box-sizing: border-box;
  display: block;
  margin-top: 20px;
  @media (max-width: $break-small) {
    margin: 0;
  }
}
.wrapper{
  display: flex;
  min-height: 88vh;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0 2em;
  width: 100%;
  @media (max-width: $break-small) {
      display:block;
      padding:0 1em;
      margin-top: 10px;
  }

  .contents{
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin-bottom:10%;
    @media (max-width: $break-small) {
        margin-bottom: 0;
    }
    .contents-header{
      .container{
        margin: 0;
      }
    }
  }
  @supports (position: sticky) or (position: -webkit-sticky) {
  .floating{
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    @media (max-width: $break-small) {
      clear:both;
      margin-left: 0;
      margin-top: 10px;
    }
    .information {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        .profile{
          width: 100px;
          height: 100px;
          border-radius: 70%;
          overflow: hidden;
          border: 6px solid #fff;
          box-shadow: 0 0 16px rgb(221,221,221);
          margin: 0 20px;
          .profile-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .description{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 20px 0;
          .name{
            font-size: 20px;
            font-weight: 700;
          }
          .name:hover{
            opacity: .6;
          }
          .bio{
            font-weight: 300;
            margin-top: 10px;
          }
        }
    }
  }
  }
}

main {
  max-width: 100%;
}
