.container {
  margin: 0px auto;
  max-width: 750px;
  width: 100%;
    @media (max-width: $break-small) {
        width: 88%;
        margin: 24px auto;
    }
}

main,
footer>.footer_wrap {
  margin: 0 auto;
  max-width: 750px;
  width: 100%;
    @media (max-width: $break-small) {
        width: 88%;
    }
}

.nav {
    max-width: 100%;
    overflow: auto;
    padding: 10px;
    margin: 40px auto;
    margin-top: 0;
    margin-bottom: -30px;
    // background-color: $grey-0;
    @media (max-width: $break-small) {
        margin-bottom: 0px;
    }
    // background-color: $grey-1;

  .nav-container {
      // margin-top:0;
      // margin: 0 auto;
      max-width: 1100px;
      // background-color: $grey-3;
      box-sizing: border-box;
      margin:0 auto;
      padding: 0 2em;
      @media (max-width: $break-small) {
          // background-color: $grey-1;
          padding: 0 0px;
      }
      // background-color: $grey-0;
      img{
        width: 35px;
        height:35px;
        float: left;
        margin:5px;
        // background-color: $grey-2;
        // background-color: $dark-0;
      }
      .blog-name{
        font-family: $source;
        font-weight: 300;
        float:left;
        margin-top: 8px;
        margin-left: 10px;
        // background-color: $grey-3;
      }
  }
}

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }


.nav-container {
  li {
      font-family: $san-serif;
      display: inline-block;
      margin: 0 40px 0 0;
      &:last-child {
          margin-right: 0;
      }
      background-color: $grey-3;
      @media (max-width: $break-small) {
          text-align: center;
          margin: 0 24px 0 0;
          font-size: 16px;
      }

  }
    li:hover {
          opacity: 0.5;
    }
}

.active {
    padding-bottom: 6px;
    // border-bottom: 2px solid $dark-0;
    font-weight: 900;
    color: $dark-0;
}

.normal {
    font-weight: 300;
    border-style: none;
    padding-bottom: 0;
    color: $dark-0;
}

a {
    font-weight: 200;
    color: $dark-0;
}

//footer

footer {
    font-family: $san-serif;
    padding: 0.5em 0.5em;
    background-color: $white;
    color: $grey-1;
    border-top: 1px solid $grey-3;
    text-align: center;
    font-weight: 100;
    .footer_wrap {
        font-style: normal;
        box-sizing: border-box;
        display: block;
        .copyright {
            bottom: 2px;
            @media (max-width: $break-small) {
                margin-top: 0px;
            }
            span {
                font-size: 15px;
            }
        }
    }
}



.main-container{
  max-width: 1100px;
  margin: 40px auto;
  padding: 0px;
  box-sizing: border-box;
  display: block;
  margin-top: 30px;
  @media (max-width: $break-small) {
    margin: 0;
  }
}
.wrapper{
  // margin-top: 2em;
  display: flex;
  min-height: 88vh;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 0 10px 0;
  padding: 0 2em;
  // background: $grey-0;
  @media (max-width: $break-small) {
      width: 100%;
      display:block;
      padding:0 1em;
      margin-top: 10px;
  }
  .category{
    margin-top: 20px;
    background: $white;
    .category-items{
      font-family: $source;
      color: $white;
      display: inline-block;
      margin-bottom: 2px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      padding: 4px 4px;
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 10px;
      border-radius: 3px;
      @media (max-width: $break-small) {
        font-size: 16px;
      }
      }
    }
  .contents{
    width: calc((100% - 290px) );
    box-sizing: border-box;
    display: block;
    margin-bottom:10%;
    margin-top: 0;
     // background: $grey-2;
    @media (max-width: $break-small) {
        width: 100%;
        margin-bottom: 5%;
    }
    .contents-header{
      .container{
        margin: 0;
      }
    }
  }
  @supports (position: sticky) or (position: -webkit-sticky) {
  .floating{
    position: -webkit-sticky;
    position: sticky;
    width: 290px;
    font-size: 15.5px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    padding: 1.5em;
    background: $white;
    // border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
    text-align:center;
    margin: 0px 0px;
    margin-top: 20px;
    margin-left: 20px;
    top: 2em;
    color: $dark-0;
    border-radius: 20px;
    @media (max-width: $break-small) {
      width: 100%;
      clear:both;
      margin-left: 0;
      box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    }
    .information {
        display: flex;
        flex-direction: column;
        align-items: center;
        .profile{
          width: 100px;
          height: 100px;
          border-radius: 70%;
          overflow: hidden;
          border: 6px solid #fff;
          box-shadow: 0 0 16px rgb(221,221,221);
          .profile-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .name{
          margin-top:10px;
          font-size: 20px;
          font-weight: 500;
        }
        .bio{
          font-weight: 300;
          margin-top: 10px;
        }
        .accounts {
            margin-top: 20px;
            a {
                margin: 10px;
                svg {
                    fill: $dark-0;
                    width: 20px;
                }
            }
            a:hover {
                opacity: .6;
            }
        }

    }
  }
  }
}
main {
  width: 100%;
}
