.container {
  margin: 0px auto;
  max-width: 750px;
  width: 100%;
    @media (max-width: $break-small) {
        width: 88%;
        margin: 24px auto;
    }
}

main,
footer>.footer_wrap {
  margin: 0 auto;
  max-width: 750px;
  width: 100%;
    @media (max-width: $break-small) {
        width: 88%;
    }
}

.nav {
    max-width: 100%;
    overflow: auto;
    padding: 10px;
    margin: 40px auto;
    margin-top: 0;
    margin-bottom: -30px;
    // background-color: $grey-2;
    // background-color: $grey-0;
    @media (max-width: $break-small) {
        margin-bottom: -10px;
    }
    // background-color: $grey-1;
  .nav-container {
      // margin-top:0;
      // margin: 0 auto;
      max-width: 1100px;
      box-sizing: border-box;
      margin:0 auto;
      padding: 0 2em;
      @media (max-width: $break-small) {
          padding: 0 0px;
      }
      // background-color: $grey-0;
      img{
        width: 35px;
        height:35px;
        float: left;
        margin:5px;
        // background-color: $grey-2;
        // background-color: $dark-0;
      }
      .blog-name{
        font-family: $source;
        font-weight: 300;
        float:left;
        margin-top: 8px;
        margin-left: 10px;
        @media (max-width: $break-small) {
            margin-top: 10px
        }
        // background-color: $grey-3;
      }
      .category{
        margin-top: 5px;
        float:right;
        display:flex;
        justify-content: space-between;
        // input[id *="main-menu"]{
        //   display: none;
        // }
        // input[id *="main-menu"]+label{
        //   display: block;
        //   cursor:pointer;
        // }
        // input[id *="main-menu"]+label+ #menu{
        //   max-height: 0;
        //   transition: all .35s;
        //   overflow:hidden;
        // }
        // input[id *="main-menu"]:checked +label+ #menu{
        //   max-height: 100px;
        // }
        @media (max-width: $break-medium) {
          margin-top: 0;
        }
        .category-items{
          margin-right: 20px;
          font-family: $source;
          display: inline-block;
          text-transform: uppercase;
          letter-spacing: 0.03em;
          padding: 4px 4px;
          font-size: 16px;
          font-weight: 900;
          border-radius: 3px;
          margin-bottom:0px;
          @media (max-width: $break-medium) {
            float:left;
            margin-top: 8px;
            font-size: 14px;
            margin-right: 0;
          }
          }
        }
  }

}


  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

.active {
    // border-bottom: 2px solid $grey-0;
    font-weight: 900;
    color: $dark-0;

    @media (max-width: $break-medium) {
      font-weight: 700;
    }
}

.normal {
    font-weight: 300;
    border-style: none;
    color: $dark-0;
    @media (max-width: $break-medium) {
      font-weight: 300;
    }
}

a {
    font-weight: 300;
    color: $dark-0;
}

//footer

footer {
    font-family: $san-serif;
    padding: 0.5em 0.5em;
    color: $grey-1;
    border-top: 1px solid $grey-3;
    text-align: center;
    font-weight: 100;
    .footer_wrap {
        font-style: normal;
        box-sizing: border-box;
        display: block;
        .copyright {
            bottom: 2px;
            @media (max-width: $break-small) {
                margin-top: 0px;
            }
            span {
                font-size: 15px;
            }
        }
    }
}



.main-container{
  max-width: 1100px;
  margin: 40px auto;
  padding: 0px;
  box-sizing: border-box;
  display: block;
  margin-top: 30px;
  @media (max-width: $break-small) {
    margin: 0;
  }
}
.wrapper{
  // margin-top: 2em;
  display: flex;
  min-height: 88vh;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0 0 10px 0;
  padding: 0 2em;
  background: $grey-0;
  @media (max-width: $break-small) {
      width: 100%;
      display:block;
      padding:0 1em;
      margin-top: 10px;
  }

  .contents{
    z-index: 1;
    width: calc((100% - 290px));
    box-sizing: border-box;
    display: block;
    margin-bottom:10%;
    margin-top: 0;
    background: $grey-2;
    @media (max-width: $break-small) {
        width: 100%;
        margin-bottom: 0;
    }
    .contents-header{
      .container{
        margin: 0;
      }
    }
  }
  @supports (position: sticky) or (position: -webkit-sticky) {
  .floating{
    position: -webkit-sticky;
    position: sticky;
    width: 290px;
    font-size: 15.5px;
    box-shadow: -6px -6px 20px rgba(#ffffff, 0.8), 5px 5px 12px rgba(#a6b4c8, 0.7);
    padding: 1.5em;
    background-color: $white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
    text-align:center;
    margin: 0px 0px;
    margin-top: 20px;
    margin-left: 20px;
    top: 2em;
    color: #000;
    border-radius: 20px;
    @media (max-width: $break-small) {
      width: 100%;
      clear:both;
      margin-left: 0;
      margin-top: 10px;
    }
    .information {
        display: flex;
        flex-direction: column;
        align-items: center;
        .profile{
          width: 100px;
          height: 100px;
          border-radius: 70%;
          overflow: hidden;
          border: 6px solid #fff;
          box-shadow: 0 0 16px rgb(221,221,221);
          .profile-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .name{
          margin-top:10px;
          font-size: 20px;
          font-weight: 700;
        }
        .name:hover{
          opacity: .6;
        }
        .bio{
          font-weight: 300;
          margin-top: 10px;
        }
        .accounts {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            margin-bottom: -10px;
            a {
                margin: 10px;
                svg {
                    // fill: $dark-0;
                    width: 24px;
                }
            }
            a:hover {
                opacity: .6;
            }
        }

    }
  }
  }
}
main {
  width: 100%;
}
