//post header

.post-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 360px;
    background-color: $grey-2;
    @media (max-width: $break-small) {
        min-height: 200px;
    }
}

//project header

.project-header {
        margin-top:20px;
        margin-left: 10px;
        margin-bottom: 20px;
        font-family: $source;
        color: $grey-0;
        text-align: left;
        left: 0px;
        @media (max-width: $break-medium) {
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom:20px;
        }
        .header-project-title {
        font-weight: 100;
        font-size: 34px;

        @media (max-width: $break-medium) {
            font-size: 25px;
        }
    }
    .header-project-des {
        display: flex;
        font-weight: 700;
        font-size: 24px;
        color: rgba($dark-0,0.7);
        @media (max-width: $break-small) {
            font-size: 20px;
        }
    }
}
.post-header-bg {
    background-color: $grey-2;
}

//post 영역

.post {
  word-break:keep-all;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #fff;
	position: relative;
  padding: 34px 20px;
	color: $grey-0;
  width: 100%;
  box-shadow: -6px -6px 20px rgba(#ffffff, 0.8), 5px 5px 12px rgba(#a6b4c8, 0.7);
	// cursor: pointer;
  @media (max-width: $break-small) {
      margin-top: 0px;
      padding: 34px 20px;
  }
    p {
        margin-top:10px;
        font-size: 14.5px;
        line-height: 2;
        margin-bottom: 10px;
        font-family: $san-serif;
        font-weight: 400;
        letter-spacing: 0.02em;
        // @media (max-width: $break-small) {
        //     font-size: 13px;
        // }

    sup {
        a.footnote {
            background: none;
            color: $red;
        }
    }
    img {
        margin: 5px auto;
        margin-top: 30px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
        border-radius: 10px
    }

  }

    a {
        word-break:break-all;
        font-size: 14.5px;
        font-weight: 400;
        transition: all 0.2s ease-in-out;
        background-position: 0% 100%, 110% 90%, 0% 98%;
        background-repeat: no-repeat, no-repeat, repeat-x;
        background-size: 2px 1px, 2px 1px, 1px 1px;
        background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#000, #000);
        @media (max-width: $break-small) {
            font-size: 16px;
        }
    }

    a:hover {
        opacity: 0.7;
    }

    h1 {
        padding: 40px 0 16px 0;
        font-weight: 700;
        font-size: 28px;
        letter-spacing: -0.009em;

    }

    h1:first-child {
        padding: 0 0 16px 0;
    }

    h2 {
        padding: 30px 0 12px 0;
        font-weight: 700;
        font-size: 25px;
    }

    h2:first-child {
        padding: 0 0 12px 0;
    }

    h3 {
        padding: 20px 0 10px 0;
        font-size: 22px;
        font-weight: 600;
    }

    h4, h5 {
        padding: 12px 0 8px 0;
    }

    h5 {
        font-size: 17px;
    }

    h6 {
        line-height: 1.6;
        font-size: 17px;
        padding-bottom: 40px;
        color: $grey-1;
        font-weight: 400;
        text-align: center;
        @media (max-width: $break-small) {
            font-size: 15px;
        }

    }

    figcaption {
        text-align: center;
        font-size: 17px;
        color: $grey-1;
        line-height: 1.8;
        margin-bottom: 40px;

        @media (max-width: $break-small ) {
            font-size: 15px;
        }
    }

    ol {
        margin: 0;
        padding-left: 10px;
    }

    ol {
        li {
            padding: 6px 0;
            margin-left: 8px;
        }
    }

    ul {
        li {
            font-weight: 400;
            font-size: 16px;
            list-style: circle;
            padding: 6px 0;
            margin-left: 20px;
            line-height: 1.65;
            position: relative;
        }

        ul {
            li {
                list-style: square;
                margin-left: 20px;
            }
        }
    }

    .catalogue-draft-message {
        text-align: center;
        margin: 50px 0;
        width: 100%;
        padding: 32px 0;
        border: 1px solid $grey-2;
        border-radius: 6px;
        font-size: 16px;
        color: $grey-0;
        font-weight: 500;

        @media (max-width: $break-small ) {
            font-size: 15px;
        }

        h1 {
            font-family: $san-serif;
            letter-spacing: 0.01em;
            color: $green;
            padding-bottom: 7px;
            font-size: 25px;

            @media (max-width: $break-small ) {
                font-size: 23px;
            }

        }
    }
}

sup {
        a.footnote {
            background: none;
            color: $green;
        }
    }

.post-type {
    color: $green;
    font-size: 18px;
    font-family: $san-serif;
    font-weight: 600;
}

.post-type-tag {
    margin: 32px 0;
}

.post-info>h1.post-title {
    padding: 0 0 0px 0;
    font-weight: 700;
    font-size: 32px;
    font-family: $san-serif;
    line-height: 1.2;
    letter-spacing: -0.009em;

    @media (max-width: $break-small) {
        font-size: 28px;
        line-height: 1.4em;
    }
}

.post-info>h2.post-subtitle {
    margin-top:10px;
    margin-bottom: 10px;
    padding: 10px 0 0px 0;
    font-weight: 400;
    font-size: 18px;
    color: $grey-1;
    line-height: 1.5;
    @media (max-width: $break-small) {
        font-size: 18px;
    }
}
.post-date{
  color: $grey-1;
  font-size: 16px;
  font-family: $san-serif;
  font-weight: 300;
  float: right;
  margin-top:5px;
  @media (max-width: $break-small) {
      margin-top: 4px;
  }
}

.catalogue-tag {
    font-family: $san-serif;
    display: inline-block;
    margin-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    padding: 4px 7px;
    font-size: 13px;
    font-weight: 800;
    background-color: $yellow;
    border-radius: 8px;
    color: #000;
    margin-bottom: 10px;

    @media (max-width: $break-medium) {
            margin: 10px 0;
    }

}

.post>div.footnotes {
    margin-top: 80px;
}

.post>div.footnotes>ol {
    padding: 0;
    margin-left: 6px;
    font-size: 16px;
    color: $grey-1;
    li {
        p {
            margin: 0;
            a.reversefootnote {
                background: none;
                color: $green;
            }
            a:hover {
                opacity: .6;
            }
        }
    }
}

.share {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    animation-name: moving;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    margin-left: -2px;
}

.share-facebook {
    position: absolute;
    left: 80px;
}

.share-twitter {
    position: absolute;
}

// portfolio
.portfolio-info {
    margin-bottom: 16px;
    width: 100%;
    border: 1px solid #D8E0E7;
    border-radius: 6px;
    padding: 0 24px 20px 24px;

    p {
        margin: 0;
    }

    .info-title {
        margin-top: 16px;
        display: inline-block;
        font-weight: 600;
        font-size: 20px;
        @media (max-width: $break-small) {
            font-size: 16px;
        }
    }

    .info-medium {
        color: $grey-0-80;
        font-size: 17px;
    }

    .info-small {
        font-size: 16px;
        letter-spacing: .4px;
        color: $grey-1;
    }
}

video {
    margin-bottom: 16px;
}

.comment{
  margin-top:34px;
  padding-top: 17px;
  border-top: 1px solid $grey-2;
}

hr{
  margin-top:-10px;
  border: none;
  border-top: 0.1px solid $grey-2;
}
