.second-label {
    margin: 20px 0 0px 0;
    font-family: $san-serif;
    font-size: 18px;
    font-weight: 600;
    color: $grey-1;
    vertical-align: middle;

    .label-emoji {
        font-size: 26px;
    }

}

div.resume-info {
    position: relative;
    font-weight: 200;
    svg {
        width: 24px;
        fill: $blue;
        position: absolute;
    }
}

.resume {

    .project {
        width: 100%;
        padding: 30px 0;

        .project-name {
            font-family: $san-serif;
            font-size: 20px;
            font-weight: 700;
            width: 100%;
            float: left;

            @media (max-width: $break-small) {
                float: none;
                width: 100%;
            }

        }

        .work-info {
            display: inline-block;

            p.work-sub-info {
                color: $default-tint;
                font-size: 16px;
                font-family: $mono;
                font-weight: 400;
            }
        }

        svg {
            width: 24px;
            float: right;
        }
    }

    .project:last-child {
        border-bottom: 1px solid rgba(0,0,0,.07);
    }

    a {
        .view-all-projects {
            display: inline-block;
            color: $red;
            font-size: 18px;
            font-family: $san-serif;
            font-weight: 600;
            margin: 20px 0;

            svg {
                width: 20px;
                fill: $default-tint;
                vertical-align: middle;
                margin-left: 6px;
            }
        }
    }
    a:hover {
        opacity: .6;
    }
}

section.skill {
    svg {
        width: 24px;
        fill: $blue;
        position: absolute;
    }
    padding-bottom: 0px;

    li.skill_name {
        display: inline-block;
        font-family: $mono;
        padding: 4px 14px;
        border-radius: 100px;
        border: solid 1px $grey-2;
        font-size: 14px;
        margin: 0 8px 14px 0;
    }
}

@keyframes moving {
    from {
        opacity: .3;
    }
    to {
        opacity: 1;
    }
}

.loading-animation {
    animation-name: moving;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
}

.about-accounts{
  display: flex;
  flex-direction: column;
  align-items: center;
  .accounts {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      margin-bottom: -10px;

      a {
          margin: 30px;
          background-image: none;

          @media (max-width: $break-medium) {
              margin: 20px;
          }
          @media (max-width: $break-small) {
              margin: 10px;
          }
          svg {
              // fill: $dark-0;
              width: 35px;
              border-bottom:none;
          }
      }
      a:hover {
          opacity: .6;
      }
  }
}
