//initialize

p, h2 {
    margin: 0;
}

// color 정의
$default-shade: #10171f;
$default-tint: #8898aa;
$grey-0: #333e4c;
$grey-0-80: rgba(51, 62, 76, .8);
$grey-1: #90949a;
$grey-2: #D8E0E7;
$grey-2-70: rgba(216, 224, 231, .7);
$grey-3: #f6f9fc;
$grey-4: #ebeff2;
$grey-5: #c1cad4;
$grey-6: #b3bcc4;
$white: #ffffff;
$white-1: #EEF0F5;
$yellow: #FDB909;
$shadow-color: rgba(0, 0, 0, .2);
$blue: #1f8ce6;
$skyblue: #66baff;
$purple: #8565fc;
$light-purple: #997EFA;
$dark-0: rgb(0, 0, 0);
$dark-1: #1e2028;
$dark-2: #2b303d;
$dark-3: #4b4d53;
$red: #f59596;
$green: #66bb6a;

// media
$break-medium: 900px;
$break-small: 670px;

// font-family 정의
$san-serif: 'Roboto',"Noto Sans KR","Apple SD Gothic Neo","-apple-system" ,"BlinkMacSystemFont",
  "Inter", "Spoqa Han Sans", "Segoe UI", Sans-Serif;
$serif: "Nanum Myeongjo",sans-serif;
$source: 'Roboto', sans-serif;

$mono: 'Anonymous Pro', 'Nanum Gothic Coding', monospace;
$code-color: #bf616a;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}
