---
layout: default
---
<div class="post">
    <div class="post-info">
        <h1 class="post-title">
            {{ page.title }}
        </h1>
        <h2 class="post-subtitle">
            {{ page.subtitle }}
        </h2>
          {%- if page.draft == true -%}
            <span class="catalogue-tag">
                Coming Soon
            </span>
            {%- endif -%}
            {% if page.tags != nil %}
            {% for tag in page.tags %}
              {% if tag == "blog" %}
                <span class="catalogue-type-blog">
                    {{ tag }}
                </span>
              {% elsif tag == "project" %}
                <span class="catalogue-type-project">
                    {{ tag }}
                </span>
              {% else %}
                <span class="catalogue-type">
                    {{ tag }}
                </span>
              {% endif %}
            {% endfor %}
            {% endif %}
            {%- if page.date -%}
            <span class="post-date">
                {{ page.date | date: "%d %b, %Y" }}
            </span>
            {%- endif -%}
    </div>
    {%- if page.draft == true -%}
        <div class="catalogue-draft-message">
            <h1>
                &#x1F64B; Coming Soon!
            </h1>
            현재 열심히 글을 쓰고 있어요. 조금만 기다려주세요!
        </div>
    {%- endif -%}
<!--큐레이션 영역-->
    {{ content }}

    {% include comment.html %}
</div>
